body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin:0;
}

.top-bar {
    width: 100%;
    height: 6px;
    background-color: #64d5ca;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    padding: 24px 48px;
    border-bottom: 1px solid #d8d8d8;
}

.navbar .logo-container {
    display: flex;
    align-items: center;
}

.navbar .left-links-container {
    flex-grow: 1; /* 1/100% */
}


.navbar .logo-container .logo {
    color: #38a39d;
}

.navbar .link-container {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.navbar .link-container a{
    text-decoration: none;
    color: #888;
    margin-right: 16px;
}

.navbar .link-container a:hover{
    color: #38a39d;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
    color:#fff;
    background-color: #64d5ca;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239cf2e9' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.hero-container .hero-text-top {
    font-weight: 300;
}

.hero-container .input-container {
    display: flex;
}

.hero-container .input-container  button{
    margin: 0;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ffed4a;
}

.hero-container .input-container  input{
    padding: 8px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 16px;
}

.card-header a{
    color: #38a39d;
}

.cards-container {
    display: flex;
}
.card {
    box-shadow: 0 2px 4px 0 rgb(0,0,0,0.1);
    flex-basis: 33.3333%;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 8px;
}

.card img {
    height: 200px;
    width: 100%;
}

.card p {
    margin : 0;
}

.card .card-content {
    padding: 8px;
}

.card .car-model {
    font-weight: bold;
    color: #38a39d;
    font-size: 18px;
    margin-bottom: 4px;
}

.card .car-make {
    font-weight: 300;
    color: #d8d8d8;
    font-size: 14px;
    margin-bottom: 4px;
}

.card .car-price {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.cards-h-container {
    flex-wrap: wrap;
}
.card-h {
    display: flex;
    flex-basis: 48%;
    margin-bottom: 16px;
}

.card-h img {
    height: 150px;
    width: 200px;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    margin: 36px 0;
}


.logos-container .logo {
    height: 80px;
}


footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    padding: 16px 0;
}

footer .links-container {
    display: flex;
    align-items: center;
}

footer .links-container a{
    text-decoration: none;
    color: #888;
    margin-right: 8px;
}

footer .links-container a:hover{
    color: #38a39d
}

footer .links-container p{
    color: #a8a8a8;
    margin-right: 8px;
}

.content-container {
    display: flex;
}

.content-container .content-left-container {
    display: flex;
    flex-basis: 66.66667%;
    flex-direction: column;
}

.content-container .content-left-container .car-img{
    width: 100%;
    height: 500px;
    margin-bottom: 32px;
}

.content-container .content-left-container .header-left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 32px 0;
}

.header-left-container .brand-name {
    font-weight: 200;
    color : #a8a8a8;
}

.header-left-container .model-name {
    color : #38a39d;
}

.header-left-container .price-tag {
    color : #333;
}

.content-container .content-right-container {
    display: flex;
    flex-basis: 33.33333%;
    flex-direction: column;
}

.content-container .content-right-container .header-right-container {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    margin: 32px 0;
    color:#38a39d;
    height: 43px;
}

.content-container .content-right-container .table-container {
    flex-grow: 1;
}

.car-detail-table {
    width: 100%;
    margin-left:16px;
    border-collapse: collapse;
}
.car-detail-table td{
    padding: 18px 6px;
    border-bottom: 1px solid #d8d8d8;
}

.car-detail-table .td-left {
    color :#a8a8a8;
}

.car-detail-table .td-right {
    text-align: right;
}

.contact-btn {
    display: block;
    width: 100%;
    padding: 8px;
    background: #ffed4a;
    border:0px;
    margin-left: 16px;
    margin-top: 16px;
    border-radius: 6px;
}